<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gaddiel.hawki"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <!-- Permission: Allow application to connect to Internet -->
       <uses-permission android:name="android.permission.INTERNET" />     
       <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />    
       <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
       <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
       <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
       <uses-permission android:name="android.permission.WAKE_LOCK"/>
       
    <!-- Permission: Allow application to write to SDCard -->
       <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.gaddiel.hawki.GaddielHawkiSplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
          <activity
 			  android:name="com.gaddiel.hawki.MainActivity">
              
        </activity>
         <activity
 			  android:name="com.gaddiel.hawki.GPSTracker"
              android:label="@string/app_name" >
        </activity>
         <receiver android:name="com.gaddiel.hawki.StartAlarmReceiver"/>       
          
          <service
                android:name="com.gaddiel.hawki.StartAlarmService"
                android:enabled="true">          
         </service>
         
           <receiver android:name="com.gaddiel.hawki.EmpTrackScheduleReceiver"/>       
          
          <service
                android:name="com.gaddiel.hawki.EmpTrackScheduleService"
                android:enabled="true">          
         </service>
         
          <receiver android:name="com.gaddiel.hawki.BootCompletedIntentReceiver">
	   		<intent-filter>
	    		<action android:name="android.intent.action.BOOT_COMPLETED" />
	   		</intent-filter>
  		</receiver>        
         
    </application>

</manifest>
